{% extends "layout.html" %}
{% load static %}

{% block head %}
<link href="{% static 'vote-page.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

<!-- voting svg -->
<div class="flex justify-center items-center">
   <img  src="{%  static 'images/voting.svg' %}" class="mt-24 h-96"> 
</div>

<div class="mt-8 flex justify-center items-center flex-col">
    <p class="lg:text-3xl md:text-xl text-lg font-bold text-black overflow-hidden">Vote For Your Favorite Team</p>
    <span class="line overflow-visible"></span>
</div>


<!-- cards  -->
<div class="flex flex-row flex-wrap justify-center align-items mb-16"> 
        <!-- here we will put for loop to fetch data from backend  -->
        {% for team in teams %}
        <div class="bg-white h-80 w-80 rounded-xl border-2 border-slate-200 drop-shadow-xl mx-4 my-4 flex flex-col justify-center items-center overflow-hidden">
            <img src="{{team.image}}" alt="img" class="px-2.5 rounded-t-3xl">
            <p class="text-center py-3 text-sm font-semibold overflow-hidden">{{team.name}}</p>
            <form action="{% url 'vote' id=competition.id %}" method="POST" class="overflow-hidden">
                {% csrf_token %}
                <input type="hidden" name="team_id" value="{{ team.id }}">
                <input type="submit" value="VOTE" class="mt-2 mv-4 vote-btn font-bold overflow-hidden">
            </form>
        </div> 
        {% endfor %}
</div>

{% endblock %}